/* Universal Styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 1200px;   
    margin: 0 auto;
    color: #1B2021;
}

h1 {
    font-family: 'Architects Daughter', cursive; 
}

h2, h3 {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: #1B2021;
    text-decoration: none;
    font-weight: bold;
}

/* Header */

header {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1B2021;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 10px;
    color: #1B2021;
    font-size: 20px;
}

button {
    background-color: #EA638C;
    border: none;
    padding: 7px 20px;
    border-radius: 25px;
    font-size: 16px;
}

button:hover {
    background-color: #89023E;
    color: #ffffff;
}

button a:hover {
    color: #ffffff;
}

/* About/Contact section */
#about, #contact {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 10px;
}

 #about img {
    width: 33%;
    margin-right: 10px;
}

#contact ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

#contact ul li {
    list-style: none;
    margin-right: 20px;
}

#contact i {
    font-size: 30px;
}

/* Project section */
#projects h2 {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;  
    flex: 1;
  }

.project {
    display: inline-flex; 
    width: 578px;
    height: 250px;
    margin: 10px;
    box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.project-image {
    object-fit: cover;
    width: 66%;
    border: 1px solid #FFD9DA;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFD9DA;
    font-size: 15px;
    width: 33%;
    padding: 0 10px 10px 10px;
}

.project-info button {
    padding: 8px;
    width: 100%;
}

.project-info button a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
