/* Universal Styles */

body { 
    --background-color: #ffffff;
    --fontcolor: #1B2021;
    --accent-1: #ED7D9F;
    --accent-2: #AC024E;
    --accent-3: #FFD9DA;
    --button-info: #1B2021;
    --counter-color:var(--accent-2) ;
    --nav-hover: var(--accent-2);
    --transition-delay: .3s linear;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--fontcolor); 
}

/* Darkmode */

body.darkmode {
    --background-color: #30343F;
    --fontcolor: #ffffff;
    --accent-1: #ED7D9F;
    --accent-2: #FFD9DA;
    --accent-3: #AC024E;
    --button-info: #1B2021;
    --counter-color: var(--accent-1);
    --nav-hover: var(--accent-1);
    transition: var(--transition-delay);
}

header, main {
    max-width: 1200px; 
    margin: 0 auto;
}

h1 {
    font-family: 'Architects Daughter', cursive; 
    color: var(--fontcolor);
}

h2, h3 {
    font-family: 'Source Code Pro', monospace;
    color: var(--fontcolor);
}

a {
    color: var(--accent-2);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--accent-1);
}

/* Header */

header {
    display: flex;
    min-height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 10px;
    color: var(--fontcolor);
    font-size: 20px;
    border-bottom: 3px solid var(--background-color);
}

nav li a {
    color: var(--fontcolor);
}

nav li:hover {
    color: var(--nav-hover);
}

nav li a:hover {
    color: var(--nav-hover);
    border-bottom: 4px solid var(--nav-hover);
    transition: var(--transition-delay);
}

button {
    background-color: var(--accent-1);
    border: none;
    padding: 7px 20px;
    border-radius: 25px;
    font-size: 16px;
}

button a {
    color: var(--button-info);
}


button:hover {
    background-color: var(--accent-2);
    color: #ffffff;
}

button a:hover, button i:hover {
    color: var(--background-color);
}

/* About/Contact section */
#about, #contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 10px;
}

#counter {
    color: var(--counter-color);
    font-weight: bold;
}

 #about img, #contact img {
    width: 33%;
    margin-right: 10px;
    box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

/* Project section */
#projects, #Skills {
    margin: 100px 0;
}

#projects h2, #skills h2 {
    text-align: center;
}

#projects p {
    margin-left: 10px;
}

  .container { 
    display: flex;
    flex-wrap: wrap;

} 

  .row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;  
    flex: 1;
  } 

.project {
    display: inline-flex; 
    max-width: 578px;
    height: 250px;
    margin: 10px;
    box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.project-image {
    object-fit: cover;
    width: 66%;
    border: 1px solid var(--accent-3);
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--accent-3);
    font-size: 15px;
    width: 33%;
    padding: 0 10px 10px 10px;
}

.project-info button {
    padding: 8px;
    width: 100%;
}

.project-info button a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Skills section */
#skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#skills li {
    margin: 0 15px;
    color: var(--accent-2);
    font-size: 40px;
}

#skills li:hover {
    color: var(--accent-1);
}

/* contactpage */

#contact ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

#contact ul li {
    list-style: none;
    margin-right: 20px;
}

#contact i {
    font-size: 40px;
    color: var(--accent-2);
}

#contact i:hover {
    color: var(--accent-1);
}

/* footer */
footer {
    border-top: 1px solid var(--accent-1);
    margin-top: 100px;
    width: 100%;
}

footer p {
    text-align: center;
}

#contact-footer {
    position: absolute;
    bottom: 0;
}

/* Responsive layout max width: 780px */

@media screen and (max-width: 780px) {
   header, main {
       margin: 0 20px 0 20px;
   }
    /* Header */
    nav {
        margin-right: 20px;
    }

    nav li {
        font-size: 20px;
    }

    /* About Section*/
    .intro {
        width: 100%;
        margin-bottom: 50px;
    }

    #about img {
        width: 100%;
    }

    /* Projects Section */
    #projects p {
        text-align: center;
    }

    .column {
        align-items: center;
    }

    /* Contact Page */
    #contact {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #contact ul {
        justify-content: center;
        margin: 50px 0;
    }

    #contact img {
        width: 100%;
    }
}

/*  Responsive layout max width: 450px*/

@media screen and (max-width: 388px) {
    
    /* Header */
    header {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }

    header h1 {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        margin: 10px;
        padding: 0;
    }

    nav li {
        justify-content: center;
        margin: 7px;
        font-size: 18px;
    }

    /* About Section */

    #about {
        margin: 0;
        flex-wrap: wrap-reverse;
    }

    #about img {
        margin: 50px 0;
    }

    /* Project Sction */

    #projects {
        margin: 0;
    }

    #projects p {
        margin: 0;
    }
    .column {
        flex: 1 0 100%;
    }

    .project {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .project-image {
        width: 100%;
    }

    .project-info {
        width: 100%;
    }

    /* Skills Section */

    #skills {
        margin: 50px 0;
    }

    #skills ul {
        flex-wrap: wrap;
        padding: 0;
    }

    #skills li {
        margin: 0 15px;
    }

    /* Contact page */

    #contact {
        margin: 20px 0;
        text-align: left;
    }

    #contact-footer {
        position: relative;
    }
}